@import '@styles/index.scss';

._container {
  width: 85%;
  margin: 5rem auto 0 auto;
  display: flex;
  min-height: 100vh;
}

@include responsive(md) {
  ._container {
    margin-top: 1.5rem;
  }
}
