@import '@styles/index.scss';

._heroContainer {
  height: 100%;
}

._stepperContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

._stepper {
  width: 80px;
}

._rollerBackground {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

@include responsive(md) {
  ._heroContainer {
    height: 100%;
  }

  ._rollerBackground {
    height: 13vh;
  }

  ._stepperContainer {
    margin-bottom: 1rem;
  }

  ._stepper {
    width: 130px;
  }
}
