@import '@styles/index.scss';

._container {
  min-height: 100vh;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    @include font('helvetica', 'helvetica97');
    color: $charade;
    font-weight: 400;
    margin: 6.5rem 0 2rem 0;
    margin-bottom: 2rem;
    text-align: center;
  }
}

._panelContainer {
  min-height: 50rem;
  width: 90%;
  background-color: $wildSand;
  border-radius: .7rem;
  margin-bottom: 2rem;
}

._header {
  height: 2rem;
  border-radius: .7rem;
  background-color: $charade;
}

._buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 3rem;
}

._itemContainer {
  height: 15rem;
  display: flex;
  padding: 3rem 4rem 0 4rem;
}

._productCardContainer {
  width: 20%;
}

._productCard {
  width: 70%;
  height: 100%;
  background-color: $grayNurse;
  border-radius: .4rem;
  padding: .5rem;
}

._crossContainer {
  background-color: $white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

._imageContainer {
  height: 70%;
}

._descriptionContainer {
  width: 25%;

  p:nth-child(1n) {
    @include font('helvetica', 'helvetica22');
    color: $charade;
    margin-bottom: 1rem;
  }

  p:nth-child(3) {
    @include font('helvetica', 'helvetica14');
    color: $charade;
  }
}

._priceContainer {
  width: 20%;

  p:nth-child(1) {
    @include font('helvetica', 'helvetica22');
    color: $charade;
    margin-bottom: 1rem;
    margin-left: 30%;
  }

  p:nth-child(2) {
    @include font('helvetica', 'helvetica12');
    color: $charade;
    margin-left: 30%;
  }
}

._quantityContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & p:nth-child(1) {
    @include font('helvetica', 'helvetica22');
    color: $charade;
    margin-bottom: 1rem;
  }
}

._inputQuantity {
  @include input($doveGray, $charade, $doveGray);
  width: 40%;
  height: 2.5rem;
  text-align: center;
  margin-bottom: .8rem;
}

._arrowContainer {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

._totalContainer {
  width: 15%;

  p:nth-child(1) {
    @include font('helvetica', 'helvetica22');
    color: $charade;
    margin-bottom: 1rem;
    margin-left: 40%;
  }

  p:nth-child(2) {
    @include font('helvetica', 'helvetica12');
    color: $charade;
    margin-left: 40%;
  }
}

._separator {
  width: 95%;
  height: 1px;
  background-color: $silver;
  margin: 2rem auto 0 auto;
}

._totalAmount {
  display: flex;
  margin-top: 1.5rem;

  & p {
    @include font('helveticaBold', 'helvetica22');
    color: $charade;
  }
}

._totalWord {
  width: 85%;
  & p {
    text-align: right;
  }
}

._totalNumber {
  width: 15%;
  & p {
    margin-left: 8%;
  }
}

._paginationContainer {
  display: flex;
  justify-content: center;
  margin: 4rem 0 3rem 0;
}
