@import '@styles/index.scss';

._container {
  min-height: 100vh;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    @include font('helvetica', 'helvetica97');
    color: $charade;
    font-weight: 400;
    margin: 6.5rem 0 2rem 0;
    margin-bottom: 2rem;
    text-align: center;
  }
}

._panelContainer {
  width: 90%;
  background-color: $wildSand;
  border-radius: .7rem;
  margin-bottom: 2rem;
}

._header {
  height: 2rem;
  border-radius: .7rem;
  background-color: $charade;
}

._buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 3rem;
}

._notFound {
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    @include font('helvetica', 'helvetica24');
    color: $charade;
    font-weight: 400;
  }
}

._paginationContainer {
  display: none;
}

@include responsive(md) {
  ._container {
    & h1 {
      @include font('helvetica', 'helvetica28');
    }
  }

  ._panelContainer {
    width: 100%;
  }

  ._buttonsContainer {
    width: 100%;

    :nth-child(1) {
      display: none;
    }

    :nth-child(2) {
      width: 100% !important;
    }
  }

  ._paginationContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
}
