@import '@styles/index.scss';

._main {
  width: 100%;
  margin: 0 auto;
}

._container {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

._alliesContainer {
  width: 50%;
  height: 100%;
  background-color: $wildSand;
  display: flex;
  justify-content: center;
  align-items: center;
}

._allies {
  width: 140px;
  height: 90px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

._allie {
  color: $charade;
  font-family: $helvetica;
  font-size: $helvetica20;
}

._aboutContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
}

._content {
  width: 85%;
  margin: 0 auto;
}

._contentAllies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
}

._titleContainer {
  color: $wildSand;
  font-family: $techeadFreeLight;
  font-size: $techead62;
}

._endContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $wildSand;
}

._leftContainer {
  position: relative;
  height: 100%;
  width: 50%;
}

._leftDownContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

._leftTitle {
  font-family: $helveticaBold;
  font-size: $helveticaBold28;
  color: $white;
}

._leftDownContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 15vh;
  background-color:$charade;
  justify-content: center;
}

._leftDownTextContainer {
  width: 60%;
  margin: 0 auto;
}

._leftSubtitle {
  font-family: $helvetica;
  font-size: $helvetica22;
  color: $white;
}

._rightDownContainer {
  background-color: $grayNurse;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 15vh;
}

._rigthContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

._modalHeader {
  width: 100%;
  height: 2rem;
  background: $charade;
  padding: 0.5rem;
  border-radius: 5px;
  align-self: flex-start;
}

._modal {
  background: $white;
  border-radius: 10px;
  padding: 0 0 2rem 0;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

._modalTitle {
  color: $charade;
  font-family: $techeadFreeLight;
  font-size: $techead62;
  margin-bottom: 0.5rem;
}

._modalSubtitle {
  color: $brightSun;
  font-family: $helvetica;
  font-size: $helvetica22;
  margin-bottom: 0.5rem;
}
._modalBody {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
}

._buttonContainer {
  margin-top: 1rem;
}

._aboutBackground {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 50%;
  height: 100%;
}

@include responsive(xl) {
  ._contentAllies {
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
  }
}

@include responsive(md) {
  ._container {
    flex-direction: column;
    height: 100%;
  }

  ._alliesContainer {
    width: 100%;
    height: 20vh;
  }

  ._allies {
    margin: 0;
    width: 100px;
    height: 60px;
  }

  ._contentAllies {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  ._aboutBackground {
    width: 100%;
    height: 27vh;
  }

  ._content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ._titleContainer {
    @include font('techeadFreeLight', 'techead25');
    margin: 2.4rem 0 2rem 0;
    text-align: center;
  }

  ._buttonContainer {
    margin: 0;
  }

  ._buttonText {
    @include font('helvetica', 'helvetica12');
  }
}
