@import '@styles/index.scss';

@mixin commonInputStyles {
  width: 85%;
  margin: 1rem 0;
  padding: 0.6rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

._input {
  @include input($cello, $cello, $alto);
  @include commonInputStyles;
}

._inputError {
  @include input($cello, red, $alto);
  @include commonInputStyles;
}

._inputPasswordContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._imageParent {
  position: absolute;
  cursor: pointer;
  display: flex;
  right: 2.5rem;
}
