@import '@styles/index.scss';

._formContainer {
  padding: 4rem 2rem 0 2rem;
}

._inputContainerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

._largeInputContainerRow {
  @extend ._formItem;
  margin-bottom: 1rem;
  width: 100% !important;
}

._input {
  @include input($silverChalice, $doveGray, $silverChalice);
  margin-bottom: 2rem;
  margin: .5rem 0;
  padding: 0.6rem;
  width: 100%
}

._caption {
  @include font('helvetica', 'helvetica12');
  margin-left: .4rem;
}

._formItem {
  width: 32%;
  display: flex;
  flex-direction: column;

  & label {
    @include font('helvetica', 'helvetica15');
    color: $doveGray;
    margin-left: .5rem;
  }
}

._formLargeItem {
  @extend._formItem;
  width: 66%;
}

._dropDownSeparation {
  margin-top: .5rem;
}

._calendarParent {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 3;
}

._dropParent {
  position: relative;
}

@include responsive(md) {
  ._formContainer {
    padding: 2rem;
  }

  ._inputContainerRow {
    flex-direction: column;
    margin: 0;
  }

  ._formItem {
    width: 100%;
    margin-bottom: 1.2rem;
  }
}
