._content{
  position: relative;
}

._main {
  position: relative;
  width: 100%;
  height: 100vh;
}

._hidden {
  display:  none;
}

._show {
  display: block;
  width: 100%;
  height: 80vh;
  animation: fadeIn 2s ease;
}


@keyframes fadeIn {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

._stepperContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
}

._stepper{
  width: 80px;
}
