@import '@styles/index.scss';

._paymentProcess {
  background-color: $wildSand;
  height: 700px;
  width: 90%;
  border-radius: 10px;
  padding: 6rem 9rem 0 5.5rem;

  & h1 {
    @include font('helveticaBold', 'helvetica18');
    font-weight: 400;
  }

  & p {
    @include font('helvetica', 'helvetica18');
    margin: 5px 0 2rem 0;
  }
}

._processContainer {
  display: flex;
  width: 100%;
  margin-bottom: 2.5rem;
}

._checkboxContainer {
  width: 7%;
  display: flex;
  align-items: center;
}

._checkboxActive {
  appearance: none;
  background-color: $pinkSwan;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: $grayNurse solid .3rem;
}

._checkboxActive:checked {
  background-color: $cello;
}

._checkboxDesactive {
  @extend ._checkboxActive
}

._checkboxDesactive:checked {
  background-color: $grey;
}

._processActive {
  background-color: $brightSun;
  padding: .6rem;
  border-radius: 1.875rem;
  width: 93%;
  cursor: pointer;

  & h1 {
    @include font('helvetica', 'helvetica18');
    font-weight: 400;
    color: $charade;
    margin-left: .4rem;
  }
}

._processDesactive {
  @extend ._processActive;
  background-color: $grayNurse;
}

._buttonContainer {
  margin-top: 5rem;
}

._totalContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;

  :nth-child(1) {
    width: 20%;
  }

  & p {
    @include font('helveticaBold', 'helvetica22');
  }
}
