@import '@styles/index.scss';

._main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

._rightSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

._input {
  @include input($cello, $cello, $alto);
  width: 85%;
  margin: 1rem 0;
  padding: 0.6rem;
  display: block;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

._inputError {
  @include input($cello, red, $alto);
  width: 85%;
  margin: 1rem 0;
  padding: 0.6rem;
  display: block;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

._formParent {
  background-color: $wildSand;
  width: 45%;
  min-width: 20rem;
  border-radius: 10px;
}

._header {
  width: 100%;
  padding: 0.4rem;
  background-color: $charade;
  border-radius: 5px;

  & p {
    color: $white;
    font-family: $helvetica;
    font-size: $helvetica18;
  }
}

._content {
  margin-top: 1rem;
  padding: 2rem;

  & h1 {
    color: $cello;
    font-family: $helveticaBold;
    font-size: $helvetica20;
    text-align: center;
  }
}

._forgot {
  font-family: $helvetica;
  font-size: .7rem;
  text-align: center;

  & a {
    text-decoration: underline;
    color: $brightSun;
    cursor: pointer;
  }
}

._parentBtn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-bottom: 0.5rem;
  justify-content: center;
}

._joinUsParent {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-bottom: 0.5rem;
}

._joinUs {
  margin-top: 3.5rem;
  font-family: $helvetica;
  font-size: .7rem;
  text-align: center;
}

@include responsive(md) {
  ._rightSection {
    width: 100%;
  }
}
