@import '@styles/index.scss';

._cardsContainer {
  width: 70%;
  margin-top: 2.5rem;
}

._cardsArea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .7rem 1rem;
  min-height: 42rem;
}

._card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  transition: all .2s ease-in-out;
  padding: .6rem;
}

._card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

._cartContainer {
  background-color: $wildSand;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

._paletteName {
  @include font('helvetica', 'helvetica22');
}

._paginationContainer {
  margin: 4rem 0 6rem 0;
  display: flex;
  justify-content: space-between;
}

._bigButtonContainer {
  display: none;
}

@include responsive(md) {
  ._cardsContainer {
    width: 85%;
  }

  ._cardsArea {
    min-height: 17rem;
    gap: .3rem;
  }

  ._card {
    height: 4rem;
    padding: 6px;
    justify-content: flex-end;
  }

  ._cartContainer {
    display: none;
  }

  ._paletteName {
    @include font('helvetica', 'helvetica11');
  }

  ._paginationContainer {
    margin: 3.5rem 0 3rem 0;
    & button {
      display: none;
    }
  }

  ._bigButtonContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  ._bigButton {
    width: 48%;
    & p {
      @include font('helvetica', 'helvetica12');
    }
  }
}
