@import '@styles/index.scss';

._cardsContainer {
  width: 70%;
  margin-top: 2.5rem;
}

._cardsArea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .7rem 1rem;
}

._card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  transition: all .2s ease-in-out;
  padding: .6rem;
}

._card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

._cartContainer {
  background-color: $wildSand;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

._paletteName {
  @include font('helvetica', 'helvetica22');
}

._paginationContainer {
  margin: 4rem 0 6rem 0;
  display: flex;
  justify-content: space-between;
}
