@import '@styles/index.scss';

._container {
  height: 100vh;
  display: flex;
}

._imageContainer {
  width: 50%;
}

._contentContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 13% 0 6%;
}

._buttonContainer {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

._buttonBox {
  width: 170px;
  margin-bottom: 7%;
}

._descriptionMobileContainer {
  display: none;
  background-color: #F5F5F5;
  padding: 0 8% 0 8%;
  height: 25%;
}

._colorTitle {
  @include font('techeadFreeLight', 'techead111');
  height: 25%;
  display: flex;
  align-items: flex-end;
}

._descriptionContainer {
  height: 25%
}

._description {
  @include font('helvetica', 'helvetica14');
  color: $doveGray;
}

._optionsContainer {
  height: 90%;
  display: flex;
  align-items: center;
}

._optionsContainer_children {
  height: 50%;
  width: 100%;
}

._inputQuantity {
  @include input($silverChalice, $doveGray, $silverChalice);
  height: 50%;
  width: 100%;
}

._colorOptions {
  display: flex;
  height: 50%;
  flex-direction: column;
}

._colorOptions_row {
  height: 50%;
  display: flex;
}

._lengthArea {
  width: 70%;
  display: flex;
  align-items: center;
}

._lengthSelect {
  width: 85%;
}

._calculatorArea {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

._calculatorButton {
  width: 100%;
}

._quantityArea {
  width: 70%;
  display: flex;
}

._quantityInputContainer {
  width: 40%;
  height: 100%;
}

._arrowContainer {
  width: 60%;
  display: flex;
}

._arrowContainer_left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

._arrowContainer_right {
  width: 50%;
  height: 100%;
}

._emptyArea {
  width: 30%;
}

@include responsive(md) {
  ._container {
    height: 100vh;
    flex-direction: column;
  }

  ._imageContainer {
    width: 100%;
    height: 30%;
  }

  ._contentContainer {
    height: 45%;
    width: 100%;
    padding: 0 8% 0 8%;
  }

  ._optionsContainer {
    height: 80%;
    align-items: flex-start;
  }

  ._optionsContainer_children {
    height: 100%;
  }

  ._colorOptions {
    height: 75%;
  }

  ._buttonContainer {
    height: 20%;
  }

  ._buttonBox {
    width: 100%;
  }

  ._descriptionContainer {
    display: none;
  }

  ._descriptionMobileContainer {
    display: flex;
    align-items: center;
  }

  ._colorTitle {
    @include font('techeadFreeLight', 'techead25');
    display: flex;
    align-items: flex-end;
  }

  ._description {
    @include font('helvetica', 'helvetica11');
  }

  ._lengthArea {
    width: 50%;
  }

  ._lengthSelect {
    width: 90%;
  }

  ._calculatorArea {
    width: 50%;
    justify-content: flex-end;
  }

  ._calculatorButton {
    width: 90%;
  }

  ._quantityArea {
    width: 50%;
    flex-direction: column;
  }

  ._quantityInputContainer {
    width: 100%;
  }

  ._inputQuantity {
    height: 100%;
    width: 90%;
  }

  ._arrowContainer {
    align-items: center;
    width: 100%;
  }

  ._emptyArea {
    width: 50%;
    justify-content: flex-end;
  }
}
