@import '@styles/index.scss';

@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

._container {
  height: 100vh;
  display: flex;
}

._imageContainer {
  width: 50%;
}

._contentContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 13% 0 6%;
}

._buttonContainer {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

._buttonBox {
  width: 170px;
  margin-bottom: 7%;
}

._descriptionMobileContainer {
  display: none;
  background-color: #f5f5f5;
  padding: 0 8% 0 8%;
  height: 25%;
  p {
    @include font('helvetica', 'helvetica14');
    color: $doveGray;
  }
}

._colorTitle {
  @include font('helveticaLight', 'helvetica111');
  height: 25%;
  display: flex;
  align-items: flex-end;
}

._descriptionContainer {
  height: 25%;
  p {
    @include font('helvetica', 'helvetica14');
    color: $doveGray;
  }
}

._optionsContainer {
  height: 90%;
  display: flex;
  align-items: center;
}

._optionsContainer_children {
  @include dimensions(100%, 50%);
}

._inputQuantity {
  @include input($silverChalice, $doveGray, $silverChalice);
  width: 100%;
}

._colorOptions {
  display: flex;
  height: 50%;
  flex-direction: column;
}

._colorOptions_row {
  height: 50%;
  display: flex;
}

._lengthArea {
  width: 70%;
  display: flex;
  align-items: center;
}

._lengthSelect {
  width: 85%;
}

._calculatorMobileArea {
  @include dimensions(30%, 100%);
  align-items: center;
  display: none;
}

._calculatorButton {
  width: 100%;
}

._quantityArea {
  width: 70%;
  display: flex;
}

._quantityTitle {
  @include font('helvetica', 'helvetica20');
  color: $charade;
  width: 28%;
  padding-bottom: 2%;
  text-align: center;
}

._quantityInputContainer {
  @include dimensions(40%, 100%);
}

._arrowContainer {
  width: 60%;
  display: flex;
}

._arrowContainer_left {
  @include dimensions(50%, 100%);
  display: flex;
  justify-content: center;
}

._arrowContainer_right {
  @include dimensions(50%, 100%);
}

._calculatorArea {
  width: 30%;
}

._modalBody {
  width: 35%;
  background-color: $white;
}

._modalHeight {
  height: 30rem;
}

._backButton{
  @include font('helvetica', 'helvetica20');
  display: block;
  position: absolute;
  z-index: 2;
  top: 100px;
  right: 3.5rem;
  background-color: $brightSun;
  padding: 0.6rem 1.5rem;
  border-radius: 3rem;
  color: $charade;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
  &:hover{
    color: $white;
    background-color: $charade;
  }
}

@include responsive(xxl) {
  ._modalBody {
    width: 40%;
  }
}

@include responsive(lg) {
  ._modalBody {
    width: 60%;
  }
}

@include responsive(md) {
  ._container {
    height: 100vh;
    flex-direction: column;
  }
  ._backButton{
    width: 80%;
    position: relative;
    top:0px;
    right: 0px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  ._imageContainer {
    @include dimensions(100%, 30%);
  }

  ._contentContainer {
    @include dimensions(100%, 45%);
    padding: 0 8% 0 8%;
  }

  ._optionsContainer {
    height: 80%;
    align-items: flex-start;
  }

  ._optionsContainer_children {
    height: 100%;
  }

  ._colorOptions {
    height: 75%;
  }

  ._buttonContainer {
    height: 20%;
  }

  ._buttonBox,
  ._quantityInputContainer {
    width: 100%;
  }

  ._descriptionContainer,
  ._calculatorArea {
    display: none;
  }

  ._descriptionMobileContainer {
    display: flex;
    align-items: center;
  }

  ._colorTitle {
    @include font('helveticaLight', 'helvetica25');
    display: flex;
    align-items: flex-end;
  }

  ._description {
    @include font('helvetica', 'helvetica11');
  }

  ._lengthArea {
    width: 50%;
  }

  ._lengthSelect,
  ._calculatorButton {
    width: 90%;
  }

  ._calculatorMobileArea {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  ._quantityArea {
    @include dimensions(100%, 100%);
  }

  ._quantityTitle {
    @include font('helvetica', 'helvetica11');
    width: 45%;
  }

  ._inputQuantity {
    width: 90%;
  }

  ._arrowContainer {
    width: 100%;
    justify-content: flex-end;
  }

  ._arrowContainer_left {
    justify-content: space-evenly;
    width: 45%;
  }

  ._arrowContainer_right {
    display: flex;
    justify-content: space-evenly;
    width: 45%;
  }

  ._modalBody {
    width: 90%;
  }

  ._modalHeight {
    height: 25rem;
  }
}
