@import '@styles/index.scss';

._container {
  height: 100vh;
  display: flex;
}

._imageContainer {
  width: 50%;
}

._contentContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 13% 0 6%;
}

._buttonContainer {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

._buttonBox {
  width: 170px;
  margin-bottom: 7%;
}

._descriptionMobileContainer {
  display: none;
  background-color: #F5F5F5;
  padding: 0 8% 0 8%;
  height: 25%;
}

._colorTitle {
  @include font('techeadFreeLight', 'techead111');
}

._description {
  @include font('helvetica', 'helvetica14');
  color: $doveGray;
}

._optionsContainer {
  height: 90%;
  background-color: purple;
  display: flex;
  align-items: center;
}

._optionsContainer_children {
  height: 45%;
  background-color: red;
  width: 100%;
}

@include responsive(md) {
  ._container {
    height: 100vh;
    flex-direction: column;
  }

  ._imageContainer {
    width: 100%;
    height: 30%;
  }

  ._contentContainer {
    height: 45%;
    width: 100%;
    padding: 0 8% 0 8%;
  }

  ._optionsContainer {
    height: 80%;
    align-items: flex-start;
  }

  ._optionsContainer_children {
    height: 100%;
  }

  ._buttonContainer {
    height: 20%;
  }

  ._buttonBox {
    width: 100%;
  }

  ._descriptionContainer {
    display: none;
  }

  ._descriptionMobileContainer {
    display: flex;
    align-items: center;
  }
}
