@import '@styles/index.scss';

._container {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

._titleContainer {
  width: 50%;
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

._title {
  color: $charade;
  font-family: $techeadFreeLight;
  font-size: $techead62;
  margin-bottom: 1rem;
}

._emptyContainer {
  height: 36vh;
}

._lastContainer {
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

._subtitleContainer {
  width: 50%;
}

._subtitle {
  color: $charade;
  font-family: $helvetica;
  font-size: $helvetica32;
}

._textContainer {
  margin-top: 1rem;
}

._text {
  color: $charade;
  font-family: $helvetica;
  font-size: $helvetica16;
  width: 30%;
}

._buttonContainer {
  margin-top: 1rem;
}

._rollerBackground {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

@include responsive(md) {
  ._title {
    @include font('techeadFreeLight', 'techead13');
    text-align: center;
    margin-bottom: 0.5rem;
  }

  ._subtitle {
    @include font('helvetica', 'helvetica11');
    text-align: center;
  }

  ._textContainer {
    display: none;
  }

  ._rollerBackground {
    height: 30vh;
    display: flex;
  }

  ._container {
    margin-left: 0;
    height: 100%;
  }

  ._titleContainer {
    height: 25%;
    width: 55%;
    align-self: center;
  }

  ._emptyContainer {
    display: none;
  }

  .lastContainer {
    height: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  ._subtitleContainer {
    width: 100%;
  }

  ._buttonText {
    @include font('helvetica', 'helvetica12');
  }
}
