@import '../../../public//styles/index.scss';

._modalContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

._container{
  background: $white;
  width: 60%;
  border-radius: 10px;
  padding: 0 0 2rem 0;
}

._header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $charade;
  padding: 0.5rem;
  border-radius: 5px;
}

._closeIcon{
  cursor: pointer;
}

._title{
  font-size: $helvetica20;
  font-family: $helvetica;
  color: $wildSand;
}

._body{
  margin-top: 2rem;
}
._formContainer{
  width: 90%;
  margin: auto;
}

._inputContainerRow{
  display: flex;
  width: 70%;
}

._inputContainerColumn{
  display: flex;
  flex-direction: column;
  width: 40%;
}


._input{
  @include input ($silverChalice, $doveGray, $silverChalice);
  height:1.8rem;
  width: 180px;
  margin-bottom: 2rem;
}

._inputRow{
  @include input ($silverChalice, $doveGray, $silverChalice);
  height:1.8rem;
  width: 180px;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

._textArea{
  background: transparent;
  color: $silverChalice;
  border: 1px solid $doveGray;
  border-radius:20px;
  padding: 0.8rem;
  width: 100%;
  height: 8rem;
  &::placeholder {
    color:$silverChalice
  }
}

._buttonContainer{
  margin-top: 2rem;
  float: right;
  width: 180px;
}
