@import '@styles/index.scss';

._paymentSteps {
  background-color: $wildSand;
  border-radius: 10px;
  height: 819px;
  width: 95%;
  margin-bottom: 2rem;
}

._paymentSteps_header {
  width: 100%;
  padding: 0.4rem;
  background-color: $charade;
  border-radius: 5px;

  & p {
    color: $white;
    font-family: $helvetica;
    font-size: $helvetica18;
  }
}

._paymentSteps_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

._formContent {
  height: 90%;
}

._formButtonContainer {
  height: 10%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@include responsive(md) {
  ._formButtonContainer {
    display: none;
  }

  ._paymentSteps {
    width: 100%;
    height: 100%;
  }

  ._formContainer {
    padding: 2rem;
  }

  ._inputContainerRow {
    flex-direction: column;
    margin: 0;
  }

  ._formItem {
    width: 100%;
    margin-bottom: 1.2rem;
  }
}
