@import '@styles/index.scss';

._paymentSteps {
  background-color: $wildSand;
  border-radius: 10px;
  height: 819px;
  width: 95%;
  margin-bottom: 2rem;
}

._paymentSteps_header {
  width: 100%;
  padding: 0.4rem;
  background-color: $charade;
  border-radius: 5px;

  & p {
    color: $white;
    font-family: $helvetica;
    font-size: $helvetica18;
  }
}

._paymentSteps_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

._formContent {
  height: 90%;
}

._formButtonContainer {
  height: 10%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}


._modalBody {
  width: 40%;
  background-color: $white;
}

._modalHeight {
  height: 17rem;
}

._modalContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
._imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

._titleContainer{
 margin-top: 1rem;
}

._subtitleContainer{
  margin-top: 1rem;
 }
._title {
  color: $charade;
  @include font('helveticaLight', 'helvetica28');
}
._subtitle {
  color: $charade;
  @include font('helveticaLight', 'helvetica16');
}

@include responsive(lg) {
  ._modalBody{
    width:  50%;
  }
}


@include responsive(md) {
  ._formButtonContainer {
    display: none;
  }

  ._paymentSteps {
    width: 100%;
    height: 100%;
  }

  ._formContainer {
    padding: 2rem;
  }

  ._inputContainerRow {
    flex-direction: column;
    margin: 0;
  }

  ._formItem {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  ._title {
    @include font('helveticaLight', 'helvetica24');
  }
  ._subtitleContainer{
    width: 70%;
  }
  ._subtitle {
    text-align: center;
  }
  ._modalBody{
    width:  90%;
  }
}



