@import '@styles/index.scss';

._modalBody {
  width: 60%;
  background-color: $white;
}

._body {
  margin-top: 2rem;
}

._formContainer {
  width: 90%;
  margin: auto;
}

._inputContainerRow {
  display: flex;
}

._inputRow {
  @include input ($silverChalice, $doveGray, $silverChalice);
  margin: 1rem 0;
  padding: 0.6rem;
  width: 14rem;
  margin-right: 2rem;
}

._input {
  @include input ($silverChalice, $doveGray, $silverChalice);
  margin-bottom: 2rem;
  margin: 1rem 0;
  padding: 0.6rem;
  width: 14rem;
}

._textArea {
  background: transparent;
  color: $silverChalice;
  border: 1px solid $doveGray;
  border-radius:20px;
  padding: 0.8rem;
  width: 100%;
  height: 13rem;
  &::placeholder {
    color: $silverChalice;
    @include font('helvetica', 'helvetica15');
  }
}

._inputContainerColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  & input {
    width: 30rem;
  }
}

._buttonContainer {
  margin-top: 1rem;
}

@include responsive(md) {
  ._modalBody {
    width: 90%;
  }

  ._body {
    & ._buttonContainer {
      display: block;
    }
  }

  ._inputContainerRow {
    flex-direction: column;
  }

  ._inputContainerColumn {
    & input {
      width: 100%;
    }
  }

  ._inputRow {
    width: 100%;
  }

  ._input {
    width: 100%;
  }

  ._buttonContainer {
    text-align: center;
  }
}
