@import '@styles/index.scss';

._container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  height: 62rem;
}

._leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

._rightContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

._buttonMobileContainer {
  display: none;
}

@include responsive(md) {
  ._container {
    flex-direction: column;
    height: 100%;
  }

  ._leftContainer {
    width: 100%;
  }

  ._rightContainer {
    width: 100%;
  }

  ._buttonMobileContainer {
    display: flex;
    flex-direction: column;

    :nth-child(2n + 1) {
      margin-bottom: 1rem;
    }

    :nth-child(2n + 2) {
      margin-bottom: 2rem;
    }
  }
}
