@import '@styles/index.scss';

._lineOne {
  background-color: $charade;
  transform: rotate(45deg);
  z-index: 1;
}

._lineTwo {
  background-color: $charade;
  transform: rotate(90deg);
  z-index: 2;
}
