$wildSand:          #F5F5F5;
$charade:           #262833;
$cello:             #202F60;
$dodgerBlue:        #3772FF;
$brightSun:         #FDCA40;
$alizarinCrimson:   #DF2935;
$white:             #FFFFFF;
$grayNurse:         #E6E8E6;
$silverChalice:     #ABABAB;
$doveGray:          #707070
