$wildSand:          #F5F5F5;
$charade:           #262833;
$cello:             #202F60;
$dodgerBlue:        #3772FF;
$brightSun:         #FDCA40;
$alizarinCrimson:   #DF2935;
$white:             #FFFFFF;
$grayNurse:         #E6E8E6;
$navShadow:         #00000012;
$doveGray:          #707070;
$silverChalice:     #ABABAB;
$alto:              #DBDADA;
$mercury:           #E4E4E4;
$silver:            #C5C4C4;
$black:             #000000;
$zambezi:           #5E5E5E;
