$helvetica: 'Helvetica';
$helveticaLight: 'Helvetica-light';
$helveticaBold: 'Helvetica-bold';
$helveticaOblique: 'Helvetica-oblique';
$helveticaBoldOblique: 'Helvetica-bold-oblique';
$techeadFreeLight: 'Techead-free-light';
