$helvetica: 'Helvetica';
$helveticaLight: 'Helvetica-light';
$helveticaBold: 'Helvetica-bold';
$helveticaOblique: 'Helvetica-oblique';
$helveticaBoldOblique: 'Helvetica-bold-oblique';
$techeadFreeLight: 'Techead-free-light';

$helvetica12: 0.5rem;
$helvetica14: 0.625rem;
$helvetica15: 0.688rem;
$helvetica16: 0.75rem;
$helvetica17: 0.813rem;
$helvetica18: 0.875rem;
$helvetica19: 0.938rem;
$helvetica20: 1rem;
$helvetica22: 1.125rem;
$helvetica24: 1.25rem;
$helvetica26: 1.375rem;
$helvetica32: 1.75rem;
$helvetica38: 2.125rem;
$helvetica45: 2.563rem;
$helveticaBold15: 0.688rem;
$helveticaBold20: 1rem;
$helveticaBold28: 1.5rem;
$helveticaBold32: 1.75rem;
$helveticaBold82: 4rem;
$teached36: 2rem;
$teached43: 1.813rem;
$techead62: 3.5rem;
$teached88: 2.625rem;
$teached97: 3.75rem;
$techead111: 4rem;

$fonts: (
  'helvetica': 'Helvetica',
  'helveticaLight': 'Helvetica-light',
  'helveticaBold': 'Helvetica-bold',
  'helveticaOblique': 'Helvetica-oblique',
  'helveticaBoldOblique': 'Helvetica-bold-oblique',
  'techeadFreeLight': 'Techead-free-light'
);

$font-sizes: (
  'helvetica11': 0.25rem,
  'helvetica12': 0.5rem,
  'helvetica14': 0.625rem,
  'helvetica15': 0.688rem,
  'helvetica16': 0.75rem,
  'helvetica17': 0.813rem,
  'helvetica18': 0.875rem,
  'helvetica19': 0.938rem,
  'helvetica20': 1rem,
  'helvetica22': 1.125rem,
  'helvetica24': 1.25rem,
  'helvetica26': 1.375rem,
  'helvetica32': 1.75rem,
  'helvetica38': 2.125rem,
  'helvetica45': 2.563rem,
  'helveticaBold15': 0.688rem,
  'helveticaBold16': 0.7rem,
  'helveticaBold20': 1rem,
  'helveticaBold28': 1.5rem,
  'helveticaBold32': 1.75rem,
  'helveticaBold82': 4rem,
  'techead13': 0.8rem,
  'techead24': 1rem,
  'techead25': 1.3rem,
  'techead36': 2rem,
  'techead43': 1.813rem,
  'techead62': 3.5rem,
  'techead88': 2.625rem,
  'techead97': 3.75rem,
  'techead111': 4rem
);

$font-sizes-retina: (
  'helvetica11': 0.75rem,
  'helvetica12': 0.5rem,
  'helvetica14': 1rem,
  'helvetica15': 1.1rem,
  'helvetica16': 0.95rem,
  'helvetica17': 0.813rem,
  'helvetica18': 0.875rem,
  'helvetica19': 0.938rem,
  'helvetica20': 1.1rem,
  'helvetica22': 1.125rem,
  'helvetica24': 1.25rem,
  'helvetica26': 1.375rem,
  'helvetica32': 2.1rem,
  'helvetica38': 2.125rem,
  'helvetica45': 2.563rem,
  'helveticaBold15': 0.688rem,
  'helveticaBold16': 0.7rem,
  'helveticaBold20': 1rem,
  'helveticaBold28': 1.5rem,
  'helveticaBold32': 1.75rem,
  'helveticaBold82': 4rem,
  'techead13': 0.8rem,
  'techead24': 1.5rem,
  'techead25': 1.7rem,
  'techead36': 2rem,
  'techead43': 1.813rem,
  'techead62': 3.5rem,
  'techead88': 2.625rem,
  'techead97': 3.75rem,
  'techead111': 5.5rem
);
