* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
}

._main {
  width: 85%;
  margin: 0 auto;
}

._right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

._left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

._down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/HELVETICA.TTF');
}

@font-face {
  font-family: 'Helvetica-light';
  src: url('./fonts/HELVETICA-LIGHT-587EBE5A59211.TTF');
}

@font-face {
  font-family: 'Helvetica-bold';
  src: url('./fonts/HELVETICA-BOLD.TTF');
}

@font-face {
  font-family: 'Helvetica-oblique';
  src: url('./fonts/HELVETICA-OBLIQUE.TTF');
}

@font-face {
  font-family: 'Helvetica-bold-oblique';
  src: url('./fonts/HELVETICA-BOLDOBLIQUE.TTF');
}

@font-face {
  font-family: 'Techead-free-light';
  src: url('./fonts/TECHEADFREE-LIGHT.OTF');
}
