@import '@styles/index.scss';

._footerContainer {
  background-color: $charade;
  width: 100%;
  padding: 4rem 0rem 2.5rem 0rem;
  box-sizing: border-box;
}

._footer {
  width: 85%;
  margin: auto;
}

._logoMain {
  width: 70px;
}

._content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

._leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

._linksContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1rem;
}

._link {
  font-family: $helvetica;
  font-size: $helvetica17;
  color: $wildSand;
  cursor: pointer;
}

._socialMedia {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

._buttonContainer {
  width: 160px;
  margin-top: 1rem;
}

._rightContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._speechTitle {
  font-family: $helvetica;
  font-size: $helvetica14;
  color: $wildSand;
  margin-bottom: 0.7rem;
}

._speechText {
  font-family: $helvetica;
  font-size: $helvetica12;
  color: $wildSand;
  margin-bottom: 0.7rem;
}

._logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._logo {
  margin-right: 1rem;
  width: 25px;
}

._copyrightContainer{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.3rem;
}

._body {
  margin-top: 2rem;
}

._formContainer {
  width: 90%;
  margin: auto;
}

._inputContainerRow {
  display: flex;
  width: 70%;
}

._inputContainerColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
}

._input {
  @include input ($silverChalice, $doveGray, $silverChalice);
  height:1.8rem;
  width: 180px;
  margin-bottom: 2rem;
}

._inputRow {
  @include input ($silverChalice, $doveGray, $silverChalice);
  height:1.8rem;
  width: 180px;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

._textArea {
  background: transparent;
  color: $silverChalice;
  border: 1px solid $doveGray;
  border-radius:20px;
  padding: 0.8rem;
  width: 100%;
  height: 8rem;
  &::placeholder {
    color:$silverChalice
  }
}

._buttonContainer {
  margin-top: 2rem;
  float: right;
  width: 180px;
}

._mobileLogos {
  display: none;
}

._socialMediaContainer {
  width: 100%;
}

._titleContainer {
  display: none;
}

@include responsive(md) {
  ._footerContainer {
    padding: 1rem 0;
  }

  ._rightContainer {
    display: none;
  }

  ._logoMain {
    width: 100px;
  }

  ._buttonContainer {
    display: none;
  }

  ._logoContainer {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  ._leftContainer {
    width: 100%;
  }

  ._socialMedia {
    margin-top: 0;
  }

  ._mobileLogos {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  ._logo {
    margin: 0;
    width: 30px;
  }

  ._separation {
    margin-left: 1rem;
  }

  ._socialMediaContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }

  ._titleContainer {
    display: block;
  }

  ._speechTitle {
    margin: 0;
    font-size: $helvetica14;
  }
}
