@import '@styles/index.scss';

._content {
  margin: 5rem 0;

  & h2 {
    text-align: center;
    font-family: $helvetica;
    font-size: $helvetica26;
    font-weight: 400;
  }
}

._grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 2rem;
  margin: 5rem 0;
}

@include responsive(md) {
  ._content {
    margin-top: 2rem;

    & h2 {
      @include font('helvetica', 'helvetica16');
    }
  }

  ._grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
  }
}
