@import '@styles/index.scss';

._heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $white;
  padding-bottom: 3rem;
  height: 50vh;
}

._container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

._subtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

._subtitle {
  color: $charade;
  font-family: $helvetica;
  font-size: $helvetica32;
}

._title {
  color: $charade;
  @include font('helveticaLight', 'helvetica62');
}

._buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-top: 1rem;
}

._content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 320px;
}

._buttonTitle {
  color: $charade;
  font-family: $helvetica;
  font-size: $helvetica16;
  margin: 1rem 0 1rem 0;
}

@include responsive(xl) {
  ._buttonContainer {
    width: 80%;
  }
}

@include responsive(md) {
  ._heroContainer {
    height: 37vh;
    padding-bottom: 1.5rem;
  }

  ._container {
    height: 100%;
    justify-content: flex-end;
  }

  ._subtitle {
    @include font('helvetica', 'helvetica16');
  }

  ._title {
    @include font('helveticaLight', 'helvetica25');
  }

  ._buttonContainer {
    width: 100%;
  }

  ._content {
    @include buttonSizeMobile;
  }

  ._buttonTitle {
    text-align: center;
  }

  ._buttonText {
    @include font('helvetica', 'helvetica12');
  }
}
