@import '@styles/index.scss';

._container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
}

._methodsContainer {
  height: 45%;
}

._titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h1 {
    @include font('helveticaBold', 'helvetica18');
    margin-right: 1rem;
  }
}

._checkboxActive {
  appearance: none;
  background-color: $pinkSwan;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: $grayNurse solid .3rem;
}

._optionContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  & p {
    margin-left: .3rem;
    @include font('helvetica', 'helvetica15');
  }
}

._checkboxActive:checked {
  background-color: $cello;
}

._checkboxDesactive {
  @extend ._checkboxActive
}

._checkboxDesactive:checked {
  background-color: $grey;
}

._informationContainer {
  height: 55%;
  display: flex;
}

._receiptInfoContainer {
  width: 50%;
  background-color: hotpink;
}

._receiptImgContainer {
  width: 50%;
  background-color: greenyellow;
}
