@import '@styles/index.scss';

._container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
}

._methodsContainer {
  height: 45%;
}

._titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h1 {
    @include font('helveticaBold', 'helvetica18');
    margin-right: 1rem;
  }
}

._checkboxActive {
  appearance: none;
  background-color: $pinkSwan;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: $grayNurse solid .3rem;
  cursor: pointer;
}

._optionContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  & p {
    margin-left: .3rem;
    @include font('helvetica', 'helvetica15');
  }
}

._checkboxActive:checked {
  background-color: $cello;
}

._informationContainer {
  height: 55%;
  display: flex;
}

._receiptInfoContainer {
  width: 50%;
}

._receiptImgContainer {
  width: 50%;
}

._textContainer {
  & > p:nth-child(1) {
    @include font('helvetica', 'helvetica15');
    color: $charade;
    margin-bottom: 8px;
  }

  & > p:nth-child(2) {
    @include font('helveticaBold', 'helvetica15');
    line-height: 18px;
    margin-bottom: 8px;
  }
}

._textQuote {
  & p {
    @include font('helvetica', 'helvetica15');
    color: $nobel;
    line-height: 18px;
  }
}

._formContainer {
  margin-top: 1rem;
}

._input {
  @include input($silverChalice, $doveGray, $silverChalice);
  margin-bottom: 2rem;
  margin: .5rem 0;
  padding: 0.6rem;
  width: 100%
}

._formItem {
  width: 100%;
  display: flex;
  flex-direction: column;

  & label {
    @include font('helvetica', 'helvetica15');
    color: $doveGray;
    margin-left: .5rem;
  }
}

._inputRow {
  display: flex;
  justify-content: space-between;
  & > div {
    width: 48%;
  }
}

._cardLogoContainer {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
