@import '@styles/index.scss';

._formContainer {
  padding: 4rem 2rem 0 2rem;
}

._inputContainerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

._largeInputContainerRow {
  @extend ._formItem;
  margin-bottom: 1rem;
  width: 100% !important;
}

._input {
  @include input($silverChalice, $doveGray, $silverChalice);
  margin-bottom: 2rem;
  margin: .5rem 0;
  padding: 0.6rem;
  width: 100%
}

._inputError {
  @include input($cello, red, $alto);
  margin-bottom: 2rem;
  margin: .5rem 0;
  padding: 0.6rem;
  width: 100%
}

._errorMsg {
  @include font('helvetica', 'helvetica12');
  margin-left: .4rem;
  margin-top: .8rem;
  font-weight: bold;
  color: red;
}

._caption {
  @include font('helvetica', 'helvetica12');
  margin-left: .4rem;
}

._formItem {
  width: 32%;
  display: flex;
  flex-direction: column;

  & label {
    @include font('helvetica', 'helvetica15');
    color: $doveGray;
    margin-left: .5rem;
  }
}

._formLargeItem {
  @extend._formItem;
  width: 66%;
}

._dropDownSeparation {
  margin-top: .5rem;
}

._selectionTitle {
  @include font('helveticaBold', 'helvetica18');
  margin-bottom: 1rem;
}

._selectionContainer {
  display: flex;
  margin-bottom: 2rem;
}

._optionContainer {
  display: flex;
  width: 50%;
  align-items: center;

  & p {
    @include font('helvetica', 'helvetica15');
    color: $charade;
  }
}

._checkboxContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._textContainer {
  width: 90%;
}

._optionContainerDisabled {
  @extend ._optionContainer;
  & p {
    color: $nobel;
  }
}

._checkboxActive {
  appearance: none;
  background-color: $pinkSwan;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: $grayNurse solid .3rem;
}

._checkboxActive:checked {
  background-color: $cello;
}

@include responsive(md) {
  ._formContainer {
    padding: 2rem;
  }

  ._inputContainerRow {
    flex-direction: column;
    margin: 0;
  }

  ._formItem {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  ._selectionContainer {
    flex-direction: column;
  }

  ._optionContainer {
    width: 100%;
  }

  ._checkboxContainer {
    width: 20%;
  }

  ._textContainer {
    width: 80%;
  }
}
