@import '@styles/index.scss';

._main {
  width: 100%;
  margin: 0 auto;
}

._endContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $wildSand;
}

._leftContainer {
  position: relative;
  height: 100%;
  width: 50%;
}

._leftDownContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

._leftTitle {
  font-family: $helveticaBold;
  font-size: $helveticaBold28;
  color: $white;
}

._leftDownContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  background-color: $charade;
  justify-content: center;
}

._leftDownTextContainer {
  width: 60%;
  margin: 0 auto;
}

._leftSubtitle {
  font-family: $helvetica;
  font-size: $helvetica22;
  color: $white;
}

._rightDownContainer {
  background-color: $grayNurse;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}

._rigthContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

._modalHeader {
  width: 100%;
  height: 2rem;
  background: $charade;
  padding: 0.5rem;
  border-radius: 5px;
  align-self: flex-start;
}

._modal {
  background: $white;
  border-radius: 10px;
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

._modalTitle {
  color: $charade;
  font-family: $techeadFreeLight;
  font-size: $techead62;
  margin-bottom: 0.5rem;
}

._modalSubtitle {
  color: $brightSun;
  font-family: $helvetica;
  font-size: $helvetica22;
  margin-bottom: 0.5rem;
}
._modalBody {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
}

._buttonContainer {
  width: 160px;
  margin-top: 1rem;
}

._avatarBackground {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 30%;
  height: 30vh;
  margin: 0 auto
}

._inspoBackground {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._leftDownContainerMobile {
  display: none;
}

@include responsive(md) {
  ._endContainer {
    flex-direction: column;
    height: 100%;
  }

  ._leftContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 23vh;
    justify-content: center;
  }

  ._avatarBackground {
    margin: 0;
    height: 80%;
  }

  ._leftDownContainer {
    display: none;
  }

  ._leftDownContainerMobile {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: flex-end;
    align-items: center;
    width: 40%
  }

  ._leftTitle {
    @include font('helveticaBold', 'helveticaBold16');
    color: $charade;
  }

  ._buttonContainer {
    margin-bottom: 7%;
    @include buttonSizeMobile;
  }

  ._buttonText {
    @include font('helvetica', 'helvetica12');
  }

  ._rigthContainer {
    width: 100%;
    height: 30vh;
  }

  ._modalTitle {
    @include font('techeadFreeLight', 'techead24');
    margin-top: 1rem;
  }

  ._modalSubtitle {
    @include font('helvetica', 'helvetica11');
    color: $charade;
  }

  ._modal {
    width: 70%;
  }

  ._modalBody {
    & ._buttonContainer {
      align-self: center;
    }
  }
}
