@import '@styles/index.scss';

._filtersContainer {
  width: 30%;
  margin-bottom: 3rem;
}

._filtersPanel {
  background-color: $wildSand;
  width: 85%;
  border-radius: .7rem;
}

._filtersTitle {
  background-color: $cello;
  padding: .6rem;
  border-radius: .7rem;

  & h1 {
    @include font('helvetica', 'helvetica24');
    font-weight: 400;
    color: $white;
  }
}

._filtersOptionContainer {
  width: 90%;
  margin: 1.2rem auto 0 auto;
}

._filtersOptionContainer:last-child {
  padding-bottom: 2rem;
}

._optionsTitle {
  background-color: $charade;
  padding: .6rem;
  border-radius: 1.875rem;

  & h1 {
    @include font('helvetica', 'helvetica20');
    font-weight: 400;
    color: $white;
    margin-left: .4rem;
  }
}

._optionsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 94%;
  margin: 0 auto 0 auto;
}

._options {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  overflow: hidden;

  & p {
    @include font('helvetica', 'helvetica15');
    color: $charade;
    margin-left: .5rem;
    margin-top: 2px;
  }
}

._checkbox {
  appearance: none;
  background-color: $pinkSwan;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: $grayNurse solid .3rem;
}

._checkbox:checked {
  background-color: $cello;
}

._crossButton {
  display: none;
}

@include responsive(lg) {
  ._filtersContainer {
    display: none;
  }

  ._filtersContainerMobile {
    position: absolute;
    display: flex;
    width: 100%;
    top: -16.2rem;
    left: 0;
    z-index: 1;
    margin: 0;
  }

  ._filtersPanelMobile {
    width: 100%;
  }
}

@include responsive(md) {
  ._filtersTitle {
    display: flex;
    justify-content: space-between;
    & h1 {
      @include font('helvetica', 'helvetica16');
    }
  }

  ._options {
    & p {
      @include font('helvetica', 'helvetica11');
    }
  }

  ._crossButton {
    display: flex;
    width: 10%;
    justify-content: center;
  }
}
