@import '@styles/index.scss';

._sliderBackground {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width:100%;
  height: 100vh;
}

._container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

._titleContainer {
  margin-bottom: 1rem;
  width: 40%;
}

._subtitleContainer {
  margin-bottom: 1rem;
  width: 15%;
}

._subtitle {
  color: $charade;
  font-family: $helvetica;
  font-size: $helvetica16;
}

._title {
  color: $charade;
  @include font('helveticaLight', 'helvetica62');
}

._buttonContainer {
  margin-top: 1rem;
}

@include responsive(md) {
  ._sliderBackground {
    height: 30vh;
    display: flex;
  }

  ._container {
    height: 100%;
    justify-content: flex-start;
  }

  ._title {
    @include font('helveticaLight', 'helvetica13');
  }

  ._subtitle {
    @include font('helvetica', 'helvetica11');
  }

  ._titleContainer {
    height: 30%;
    width: 60%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  ._subtitleContainer {
    width: 60%;
    margin: 0;
    height: 30%;
    padding-top: .5rem;
  }

  ._buttonContainer {
    margin: 0;
    align-self: center
  }

  ._buttonText {
    @include font('helvetica', 'helvetica12');
  }
}
