@import '@styles/index.scss';

._titleContainer {
  width: 75%;
  margin-bottom: 2rem;

  & h1 {
    @include font('helvetica', 'helvetica45');
    color: $charade;
    font-weight: 400;
  }
}

._inputContainer {
  width: 70%;
  margin-bottom: 2rem;
  position: relative;
}

._input {
  @include input($cello, $cello, $alto);
  width: 100%;
  margin: 1rem 0;
  padding: 0.6rem;
  display: block;
}

._iconParent {
  position: absolute;
  cursor: pointer;
  right: 1.3rem;
  top: .5rem;
}

._filterLabelContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

._filterLabel {
  height: 2.2rem;
  background-color: $brightSun;
  width: 12rem;
  border-radius: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 3rem 1rem 0;

  & p:nth-child(1) {
    @include font('helvetica', 'helvetica18');
    color: $charade;
  }

  & :nth-child(2) {
    cursor: pointer;
  }
}

._filterButtonContainer {
  display: none;
}

@include responsive(lg) {
  ._filterLabelContainer {
    display: none;
  }

  ._filterButtonContainer {
    display: block;
    width: 70%;
    margin-bottom: 2rem;
  }

  ._filterButton {
    background-color: $brightSun;
    border-radius: 30px;
    padding: .8rem;
    @include font('helvetica', 'helvetica20');
    color: $charade;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  ._filterBadge {
    display: flex;
    align-items: center;
  }

  ._badge {
    background-color: $wildSand;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font('helvetica', 'helvetica13');
    color: $charade;
    margin-left: 1rem;
  }
}

@include responsive(md) {
  ._titleContainer {
    width: 60%;
    margin: 0 auto 1.5rem auto;

    & h1 {
      margin: 0;
      @include font('helvetica', 'helvetica24');
      color: $charade;
      text-align: center;
    }
  }

  ._inputContainer {
    width: 100%;
    margin-bottom: 1rem;
  }

  ._filterButtonContainer {
    width: 100%;
  }
}
